<div class="navL">
    <div class="authorDetails">
      <img src="https://cdn.dribbble.com/users/7170275/avatars/small/207ebfcc60c5c6aee645f19fee35bb00.png?1701114388"
        alt="">
      <p class="authorName">Akmal Nashrulloh</p>
      <div class="arrows">
        <span id="downarrow"></span>
        <span id="uparrow"></span>
      </div>
    </div>
    <div class="heading">
      <dl>
        <dt>MENU</dt>
        <dd>Overview</dd>
        <dd>Transactions</dd>
        <dd>Analytics</dd>
        <dd>Cards</dd>
      </dl>
    </div>
    <div class="heading">
      <dl>
        <dt>GENERAL</dt>
        <dd>Settings</dd>
        <dd>Help/Support</dd>
        <dd>Dark Mode</dd>
      </dl>
    </div>
    <div class="newPayment mt-5">
      <i class="fa-solid fa-circle-plus payIcon"></i>
      <p>New Payment</p>
    </div>
  </div>