<div class="sColumn">
     <div class="cardHeading mx-4">
        <div class="leftCont">
            <span class="boldText">My Cards: 1</span>
            <span class="smallText">/2</span>
        </div>
        <p class="boldText"><span><</span>&nbsp; &nbsp; &nbsp; &nbsp;<span>></span></p>
     </div>
    <img src="../../../assets/atm_card.png" alt="" class="atmCard">
    <div class="addNewCard">
      <i class="fa-solid fa-circle-plus"></i>&nbsp;
      <span>Add New Card</span>
    </div>
    <br><br>
    <div class="quickActions mx-3">
        <h5 class="lightBoldText">Quick Actions</h5>
        <br>
        <div class="actionType">
             <div class="firstAction">
                <i class="fa fa-plus-square fa-lg"></i>
                <p>Top Up</p>
             </div>
             <div class="firstAction">
                <i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i>
                <p>Transfer</p>
             </div>
             <div class="firstAction">
                <i class="fa fa-camera-retro fa-lg"></i>
                <p>Withdrawal</p>
             </div>
        </div>
    </div>
    <br><br>
    <div class="savings mx-3">
        <h5 class="lightBoldText">Saving Plan</h5>
        <i class="fa fa-plus-circle savingsIcon"></i>
    </div>
    <br>
    <div class="items mx-3">
        <img src="../../../assets/watch.png" alt="">
        <div class="newWatch">
            <div class="font5">New Watch</div>
             <p class="light">Target $2.000</p>
        </div>
        <div class="dots">...</div>
    </div>
    <div class="secondLine">
        <div class="price">
            <p>Total: $1,000</p>
            <div></div>
        </div>
        <p>50%</p>
    </div>
    <br><br>
    <div class="playStation mx-3">
        <i class="fa-solid fa-gamepad"></i>
        <div class="newWatch">
            <div class="font5">Play Station 5</div>
             <p class="light">Target $2,000</p>
        </div>
        <div class="dots">...</div>
    </div>
</div>